@{
    ViewBag.Title = "User Dashboard";
}

<h2>Welcome, @ViewBag.Username (User)</h2>

<p>This is the User Dashboard.</p>

<ul>
    <li><a href="/Scam/Report">Report a Scam</a></li>
    <li><a href="/Scam/MyReports">My Scam Reports</a></li>
    <li><a href="/Account/Logout">Logout</a></li>
</ul>
